<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Español</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Archivo CSS -->
    
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navMenu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quiz-espanol">Quiz Coreano a Español</a></li>
            <li><a href="/quiz-coreano">Quiz Español a Coreano</a></li>
            <li><a href="/about">About Hangulove</a></li>
        </ul>
    </nav>

    <h1>About Hangulove</h1>
    <h3>Hangulove es una aplicación diseñada para estudiantes de coreano hispanohablantes que buscan una forma práctica y divertida de ampliar su vocabulario. La idea nació de una necesidad personal al comenzar mi propio aprendizaje de este hermoso idioma. Quería prepararme para el TOPIK 1, aprender más vocabulario, y mejorar mi velocidad escribiendo en un teclado coreano.

    El sistema principal de Hangulove es simple pero efectivo: consiste en escribir en coreano las palabras que aparecen en pantalla mientras lees su significado en español y escuchas la pronunciación en ambos idiomas. Este enfoque busca ayudarte a asociar el sonido de las palabras con su significado, al mismo tiempo que mejoras tu habilidad para escribirlas correctamente.

    Además, Hangulove cuenta con un sistema de quizzes para reforzar tu aprendizaje. Podrás practicar traduciendo del coreano al español o del español al coreano. La idea es que, después de familiarizarte con el vocabulario usando el sistema principal, te animes a medir tu conocimiento con estos retos.

    En el futuro, planeo agregar un sistema estadístico para los quizzes, que registre tus avances. Por cada palabra que traduzcas correctamente, sumarás puntos. A medida que domines mejor ciertas palabras, estas aparecerán con menos frecuencia, mientras que las palabras que aún no conoces recibirán más prioridad. También iré ampliando el vocabulario disponible, incluyendo términos de los exámenes TOPIK 2, 3, y niveles superiores.

    Hangulove es una herramienta hecha con pasión y dedicada a quienes comparten el sueño de aprender este increíble idioma. ¡Espero que te acompañe y te sea útil en tu viaje de aprendizaje! </h3>
</body>
</html>
