<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Español</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Archivo CSS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/static.js"></script> <!-- Archivo JavaScript -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navMenu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quiz-espanol">Quiz Coreano a Español</a></li>
            <li><a href="/quiz-coreano">Quiz Español a Coreano</a></li>
            <li><a href="/about">About Hangulove</a></li>
        </ul>
    </nav>

    <h1>Quiz Español</h1>
    <div id="game-container">
        <p><span id="quiz-korean-word">---</span></p> <!-- Palabra en coreano -->
        <input type="text" id="user-input" placeholder="Escribe el significado en español">
        <button onclick="checkQuizAnswer()">Enviar</button>
        <p id="quiz-result"></p>
    </div>
</body>
</html>
